<nav class="navbar">
  <div class="nav-left">
    <img src="logo.png" alt="EduQuality Logo" class="logo" />
    <h1>{{ appTitle }}</h1>
  </div>

  <input type="checkbox" id="menu-toggle" />
  <label for="menu-toggle" class="menu-icon">
    <i class="fa-solid fa-bars"></i>
  </label>

  <ul class="nav-links">
    <li><a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Inicio</a></li>
    <li><a routerLink="/normas" routerLinkActive="active">Normas</a></li>
    <li><a routerLink="/modelos" routerLinkActive="active">Modelos</a></li>
    <li><a routerLink="/estandares" routerLinkActive="active">Estándares</a></li>
    <li><a routerLink="/codigo" routerLinkActive="active">Código</a></li>
    <li><a routerLink="/pruebas" routerLinkActive="active">Pruebas</a></li>
    <li><a routerLink="/conclusiones" routerLinkActive="active">Conclusiones</a></li>
    <li><a routerLink="/recomendaciones" routerLinkActive="active">Recomendaciones</a></li>
  </ul>
</nav>
